{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Deletar produto</title>
{% endblock %}

{% block content %}
    <h2>Deletar produto</h2>

    <div class="py-2">
        <form method="post">{% csrf_token %}
            <p>Are you sure you want to delete "{{ object }}"?</p>
            {{ form }}
            <input type="submit" value="Confirm">
        </form>
    </div>

    <div class="d-inline-block px-3 py-2 mb-2 my-class">
        <a href="{% url 'product-list' %}">Voltar</a>
    </div>
{% endblock %}
