{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Detalhes do produto</title>
{% endblock %}

{% block content %}
    <h2>Detalhes do produto</h2>

    <div class="py-2">
        <h4>{{ object.name }}</h4>
        <p>Codigo de barras: {{ object.bar_code }}</p>
        <p>Codigo do fabricante: {{ object.manufacturer_reference }}</p>
        <p>Quantidade: {{ object.amount }}</p>
        <p>Descrição: {{ object.description }}</p>
    </div>

    <div class="d-inline-block px-3 py-2 mb-2 my-class">
        <a href="{% url 'product-list' %}">Voltar</a>
    </div>
{% endblock %}
