{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Detalhes do produto</title>
{% endblock %}

{% block content %}
    <!-- title -->
    {% url 'product-list' as return_url %}
    {% include 'components/btn_return.html' with page_title='Detalhes do produto' return_url=return_url %}

    <!-- breadcrumb -->
    <div style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb text-nowrap">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'product-list' %}">Produtos</a></li>
            <li class="breadcrumb-item" aria-current="page">{{ object.bar_code }}</li>
        </ol>
    </div>

    <!-- actions button -->
    <div class="py-2">
        <div class="d-flex justify-content-end gap-2">
            <a href="{% url 'product-delete' product.id %}" class="btn btn-danger rounded-2 px-2 py-2">
                <span class="d-inline-block text-center" style="width: 24px;">
                    <i class="fa-solid fa-trash-can"></i>
                </span>
                <span class="text-nowrap">Deletar</span>
            </a>
            <a href="{% url 'product-update' product.id %}" class="btn btn-warning rounded-2 px-2 py-2">
                <span class="d-inline-block text-center" style="width: 24px;">
                    <i class="fa-solid fa-pen-to-square"></i>
                </span>
                <span class="text-nowrap">Atualizar</span>
            </a>
        </div>
    </div>

    <!-- main data -->
    <div class="border rounded-2 p-3" style="background-color: var(--neutral50);">
        <div class="row g-3">
            <div class="col-lg-3">
                <label for="id_bar_code" class="form-label text-nowrap">
                    Código de barras
                </label>
                <input type="text" name="bar_code" value={{ object.bar_code }} class="form-control" id="id_bar_code" readonly>
            </div>
            <div class="col-lg-9">
                
                <label for="id_name" class="form-label text-nowrap">
                    Nome
                </label>
                <input type="text" name="name" value={{ object.name }} class="form-control" id="id_name" readonly>
            </div>

            <div class="col-lg-6">
                <label for="id_manufacturer" class="form-label text-nowrap">
                    Fabricante
                </label>
                <input type="text" name="manufacturer" value={{ object.manufacturer }} class="form-control" id="id_manufacturer" readonly>
            </div>
            <div class="col-lg-6">
                <label for="id_manufacturer_code" class="form-label text-nowrap">
                    Código do fabricante
                </label>
                <input type="text" name="manufacturer_code" value={{ object.manufacturer_code }} class="form-control" id="id_manufacturer_code" readonly>
            </div>

            <div class="col-lg-4">
                <label for="id_unit_type" class="form-label text-nowrap">
                    Tipo de unidade
                </label>
                <input type="text" name="unit_type" value={{ object.unit_type }} class="form-control" id="id_unit_type" readonly>
            </div>
            <div class="col-lg-4">
                <label for="id_amount" class="form-label text-nowrap">
                    Quantidade
                </label>
                <input type="number" name="amount" value={{ object.amount }} class="form-control" id="id_amount" readonly>
            </div>
            <div class="col-lg-4">
                <label for="id_unit_price" class="form-label text-nowrap">
                    Preço unitário
                </label>
                <input type="number" name="unit_price" value="1.00" class="form-control" id="id_unit_price" readonly>
            </div>
        </div>
    </div>
{% endblock %}
