{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static '/css/list.css' %}">
    <title>Lista de produtos</title>
{% endblock %}

{% block content %}
    <!-- title -->
    {% url 'home' as return_url %}
    {% include 'components/btn_return.html' with page_title='Produtos' return_url=return_url %}
    
    <!-- breadcrumb -->
    <div style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Produtos</li>
        </ol>
    </div>

    <!-- actions button -->
    <div class="py-2">
        <div class="d-flex justify-content-end">
            <a class="btn btn-success rounded-2 py-2" href="{% url 'product-create' %}">
                <span>
                    <i class="fa-solid fa-plus"></i>
                </span>
                <span class="text-nowrap">Novo produto</span>
            </a>
        </div>
    </div>

    <!-- main data -->
    <div class="border rounded-2 p-3" style="background-color: var(--neutral50);">
        <div class="d-none d-lg-flex text-center rounded-2 kdr-table-header">
            <span class="d-inline-block px-2 py-2" style="min-width: 120px;">Cd. Barra</span>
            <span class="d-inline-block flex-grow-1 px-2 py-2">Produto</span>
            <span class="d-inline-block px-2 py-2" style="min-width: 140px;">Quantidade</span>
            <span class="d-inline-block px-2 py-2" style="min-width: 220px;">Preço Unitário</span>
            <span class="d-inline-block px-2 py-2" style="min-width: 40px;"></span>
        </div>
    
        <div class="d-flex flex-column">
            {% for product in object_list %}
                <a class="kdr-table-item-slot" href="{% url 'product-detail' product.id %}">
                        <div class="d-flex flex-row kdr-table-lg-striped hover-item py-1">
                            <div class="d-flex flex-column flex-wrap flex-lg-row flex-lg-nowrap  flex-grow-1">
                                <div class="d-flex flex-row flex-nowrap flex-grow-1">
                                    <span class="d-inline-block px-2 py-2" style="min-width: 120px;">{{ product.bar_code }}</span>
                                    <span class="d-inline-block flex-grow-1 px-2 py-2" style=" min-width: 132px;">{{ product.name }}</span>
                                </div>
                                <div class="d-flex flex-row flex-nowrap flex-grow-1 flex-lg-grow-0 justify-content-between">
                                    <span class="d-inline-block text-lg-center px-2 py-2" style="min-width: 140px;">
                                        {{ product.amount }}
                                        {% if product.unit_type %}{{ product.unit_type|default:"" }}{% endif %}
                                    </span>
                                    <span class="d-inline-block text-end text-lg-center px-2 py-2" style="min-width: 220px;">
                                        R$ {{ product.unit_price }}
                                    </span>
                                </div>
                            </div>
                            <div class="px-2">
                                <span class="d-inline-block text-center p-2" style="width: 24px;">
                                    <i class="fa-solid fa-angle-right"></i>
                                </span>
                            </div>
                        </div>
                </a>
            {% empty %}
                <div>
                     Não há produtos cadastrados.
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}