{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static '/css/list.css' %}">
    <title>Lista de produtos</title>
{% endblock %}

{% block content %}
    <h2>Lista de Produtos</h2>

    <div class="d-inline-block px-3 py-2 mb-2 my-class">
        <a href="{% url 'product-create' %}">Criar novo produto</a>
    </div>

    <div class="py-2">
        <ul>
            {% for product in object_list %}
                <li>
                    {{ product.bar_code }} - {{ product.name }} - 
                    <a href="{% url 'product-detail' product.id %}">Detalhes</a> | 
                    <a href="{% url 'product-update' product.id %}">Atualizar</a> | 
                    <a href="{% url 'product-delete' product.id %}">Deletar</a>
                </li>
            {% empty %}
                <li>No products yet.</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}