:root {
    --blue900: #202B46;
    --blue300: #7198fa;
    --neutral900: #0f0f0f;
    --neutral700: #262626;
    --neutral600: #525252;
    --neutral500: #737373;
    --neutral200: #E5E5E5;
    --neutral100: #F0F0F0;
    --neutral50: #F9F9F9;
    --neutral: #FFF;

    --breadcrumb-item: #212529bf;
}

a {
    text-decoration: none;
    color: var(--neutral900);
}

ul, ol {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

body header {
    background-color: var(--neutral);
}

body header a:hover {
    background-color: var(--blue300);
    color: var(--blue900);
}

body section {
    background-color: var(--neutral100);
}

.aside-navbar {
    position: sticky;
    width: 190px;
    height: 100%;
    background-color: var(--blue900);
    color: var(--neutral);
}

.nav-item a {
    color: var(--neutral);
}

.nav-item a:hover {
    background-color: var(--blue300);
    color: var(--blue900);
}

.breadcrumb-item a {
    color: var(--breadcrumb-item);
}

.breadcrumb-item a:hover {
    text-decoration: underline;
}

.hover-item:hover {
    background-color: var(--blue300);
    color: var(--blue900);
}

.kdr-table-header {
    background-color: var(--blue900);
    color: var(--neutral);
}

.kdr-table .kdr-table-lg-striped {
    border-radius: 0.375em;
}

.kdr-table .kdr-table-lg-striped:nth-child(even) {
    background-color: var(--neutral100);
}

.kdr-table .kdr-table-lg-striped:nth-child(even):hover {
    background-color: var(--blue300);
    color: var(--blue900);
}

@media (max-width: 991px) {
    body section{
        margin-left: 0px;
    }
}

@media (max-width: 991px) {
    .kdr-table .kdr-table-item-slot:not(:last-child) {
        border-bottom: 1px solid var(--neutral500);
    }

    .kdr-table .kdr-table-lg-striped:nth-child(even) {
        background-color: var(--neutral50);
    }

    .kdr-table .kdr-table-lg-striped:nth-child(even):hover {
        background-color: var(--blue300);
        color: var(--blue900);
    }
}